# Ignores all PDF files in the repository
*.pdf
selected_prompt.json
669ef52a300400e8f36ae869_Human digital twin-based application for daily exercise (translated Motions-applikation baseret pa en human digital tvil.txt
Data/TXT_handin_test/669ef52a300400e8f36ae869_Human digital twin-based application for daily exercise (translated Motions-applikation baseret pa en human digital tvil.txt